/* Home */
.section__habilidades {
        img {
            width: 100%;
        }
    }

.habilidades__item {
    text-align: center;
}

section {
    min-height: 90vh;
}

.cards {
    margin-top: 50px;
}

.titularText {
    margin-bottom: 160px;
}

