/* Botones */
.btn {
    background-color: map-get($color, acento);
    color: map-get($color, secundario);
    &:hover {
        background-color: map-get($color, secundario);
    }
};

.btn--exito {
    @extend .btn;
    background-color: map-get($color, exito);
}

.btn--error {
    @extend .btn;
    background-color: map-get($color, error);
}
