/* Jumbo */
.home-jumbo {
    display: flex;
    div {
        .herotext {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            height: 500px;
        }
        img{
            width: 100%;
        }
    }
}