
/* 
colores:
primario  #0083B0
secundario #E6F4F1
acento #EC992A 
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   



body {
    width: 100;
    font-family: 'Poppins', sans-serif;
    color: #E6F4F1;
    position: relative;
    background: #0083b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



.header {
    background: #00B4DB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: sticky;
    top: 0px;
    z-index: 100;
}
 

/* menu */


.navbar-dark .navbar-nav .nav-link {
    text-transform: capitalize;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

  
img {
    width: 100%;
}

.herotext {
    padding: 150px 0;
}


section {
    margin: 0px auto;
    padding-top: 40px;
}

.habilidades__item {
    text-align: center;
}

.habilidades img {
    width: 100px;
}

.card-body {
    color: #121212;
}

form {
color: #121212;
}

.form-check {
    color: #E6F4F1;
}


.footer {
    text-align: center;
    margin: 20px auto;
}

.footer img {
    width: 36px;
}


.item-desc {
    margin-top: 10px;
}