/* Formulario */
form {
    color: $colorNeutro;
    .btn {
        background-color: $colorAcento;
        color: $colorSecundario;
        &:hover {
            background-color: $colorSecundario;
        }
    }
}