/* Formulario */
form {
    color: map-get($color, neutro);
    background-color: map-get($map: $color, $key: secundario);
    box-shadow: 5px 5px 15px 5px rgba(18, 18, 18, 0.16);
    padding: 40px;
    border-radius: 5px;
}