/* Header */
header {
  height: 60px;
  .navbar-brand{
    @include fontParameters (800, 24px);
  }
  @include fontParameters (400, 20px,);
  background-color: map-get($color, primario);
  text-transform: capitalize;
  position: sticky;
  top: 0;
  z-index: 100;
  nav {
    #navbarNav {
      flex-direction: row-reverse;
    }
  }
}
