/* Theme */
body {
    background: map-get($color, primario)
}

section {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
}

.text {
    justify-content: end;
}

